@import "reset.scss";
@import "variables.scss";
@import "landing.scss";

body {
    background-image: url("../assets/img/white_texture.png");
    background-repeat: repeat;
    background-color: #2d2d2d;
    color: #ffffff;
}