// Colors
$color-light: #FCFBF9;
$color-dark: #353535;
$color-accent: #F52750;

$iso-light: #FBFAF8;
$iso-dark: #DBDBDB;

// Type Faces
$john-bold:"BigJohnPRO-Bold", Arial, Helvetica, sans-serif;
$john-regular: "BigJohnPRO-Regular", Arial, Helvetica, sans-serif;
$john-light: "BigJohnPRO-Light", Arial, Helvetica, sans-serif;

@font-face {
    font-family: "BigJohnPRO-Bold";
    src: local("BigJohnPRO-Bold"),url("./type/BigJohnPRO-Bold.otf") format("truetype");
}

@font-face {
    font-family: "BigJohnPRO-Regular";
    src: local("BigJohnPRO-Regular"),url("./type/BigJohnPRO-Regular.otf") format("truetype");
}

@font-face {
    font-family: "BigJohnPRO-Light";
    src: local("BigJohnPRO-Light"),url("./type/BigJohnPRO-Light.otf") format("truetype");
}